.home-title{
    // text-align: center;
   
    .title{
        // font-size:tesclamp(1.8em,calc(1em + 2.4vw),3em) !important;
        font-size: 4em;
        
    color: #673ab7;
    font-weight: bolder;
    padding-left: 2rem;
    }
    .sub-title{
      font-size: 2em;
      max-width: 54rem;
      line-height: 2.5rem;
      padding-right: 2rem;
      padding-left: 2rem;
    }
    
}


.home-wrapper{
    padding-top: 6em;
    padding-bottom: 4em;
    background-color: #efe8fc;
}
.project-detail-title-wrapper{
  display: flex; justify-content: center;
  .project-detail-title-left{
    width: 20%;
  }
  .project-goal-wrapper-right{
    margin: 3rem;
    .project-goal{
      display: flex;justify-content: center;    margin-top: 2rem;
    }
  }
}

.view-webite-left {
  display: flex;
  justify-content: center;

  .view-website-wrapper {
    width: 20%;

    .view-website-paragraph {
      height: 4rem;
      color: white;
      background-color: #673ab7;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
    }

  }
}

.responsibilities-block {
  min-height: 15rem;

  color: black;
  background-color: #e9e0ff;
  display: flex;
  align-items: center;

  padding: 2rem;
  font-size: 1.5em;
  line-height: 2rem;
  font-weight: 100;
  

  .responsibilities-title {
    font-weight: 700;
  }

  ul{
    list-style-type: disc;
    li{
      font-weight: 500;
    }
  }
}
.update-block{
  margin-top: 2rem;margin-bottom: 2rem;
  .update-date{
    font-weight: 700;
  }
  .update-data{

  }
}
.project-details-right{
  margin-left: 3rem;
  .project-details-right-block{
    margin-bottom: 5rem;
    .project-title{
      font-size: 2em;
                font-weight: 700;
                max-width: 32em;
                line-height: 2rem;
                color: #673ab7;
    }
    .project-title-description{
      font-size: 1.2rem;
      max-width: 55rem;
      line-height: 2rem;
      font-weight: 100;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    .description-img-block{
      background: #e9e0ff;
                padding: 2rem;
              
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 50rem;
                img{
                  max-width: 100%; max-height: 100%;
                }
    }
    .testimonial-wrapper{
      min-height: 15rem;

                  
                    color: black;
                    background-color: #e9e0ff;
                   
                    align-items: center;
                    justify-content: center;
                    padding: 2rem;
                    font-size: 1.5em;
                  
                    display: flex;
                    font-size: 1.2rem;
                    max-width: 50rem;
                    line-height: 2rem;
                    font-weight: 100;
                    margin-top: 2rem;
                    margin-bottom: 2rem;

                    .testimonial-person-review{
                      font-weight: 700;
                    }
    };

  }
  
}