.home-title{
    // text-align: center;
   .date{
    font-size: 1.5em;
   }
    .title{
        // font-size:tesclamp(1.8em,calc(1em + 2.4vw),3em) !important;
        font-size: 4em;
        color: #673ab7;
        // display: flex;
        font-weight: bolder;
        justify-content: center;
    }
    .sub-title{
    
     
        font-size: 2em;
        max-width: 32em;
        line-height: 2rem;

    }
    
}
.home-wrapper{
    padding-top: 6em;
    padding-bottom: 4em;
    background-color: #efe8fc;
}

.porfile-wrapper{
  padding: 2rem;
  background-color: #e9e0ff;

  // margin-right: 3rem;
 
  .footer-profile{
    display: flex;
    justify-content: center;
    // align-items: center;
   

   

  }
  .custom-image{
   
    margin-right: 1rem;
    
  }
  .small-circle-image {
    width: 10rem;
    height: 10rem;
    // border-radius: 50%; /* This makes the image circular */
  }

  .custom-message{
    font-size: 20px;
    max-width: 33rem;
    line-height: 1.7rem;
    font-weight: 100;
    margin-top: 2rem;
    
  }
  .social-links{
    display: flex;
              /* max-width: 12em; */
              justify-content: space-around;
  }

}
.project-detail-title-wrapper{
  display: flex; justify-content: center;
  .project-detail-title-left{
    width: 20%;
  }
  .project-goal-wrapper-right{
    margin: 3rem;
    .project-goal{
      display: flex;justify-content: center;    margin-top: 2rem;
    }
  }
}
.project-details-right{
  margin-left: 3rem;
  .project-details-right-block{
    margin-bottom: 5rem;
    .project-title{
      font-size: 2em;
                font-weight: 700;
                max-width: 32em;
                line-height: 2rem;
                color: #673ab7;
    }
    .project-title-description{
      font-size: 1.4em;
      max-width: 46em;
      line-height: 1.7rem;
      font-weight: 100;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    .description-img-block{
      background: #e9e0ff;
                padding: 2rem;
              
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                  max-width: 100%; max-height: 100%;
                }
    }
    .testimonial-wrapper{
      min-height: 15rem;

                    width:40em;
                    color: black;
                    background-color: #e9e0ff;
                    margin-top: 2rem;margin-bottom: 2rem;
                    align-items: center;
                    justify-content: center;
                    padding: 2rem;
                    font-size: 1.5em;
                    line-height:2rem;font-weight: 100;
                    display: flex;

                    .testimonial-person-review{
                      font-weight: 700;
                    }
    };

  }
  
}
.responsibilities-block {
  min-height: 15rem;

  color: black;
  background-color: #e9e0ff;
  display: flex;
  align-items: center;

  padding: 2rem;
  font-size: 1.5em;
  line-height: 2rem;
  font-weight: 100;
  

  .responsibilities-title {
    font-weight: 700;
  }

  ul{
    list-style-type: disc;
  }
}
.buy-me-coffee-wrapper {
  min-height: 4rem;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  color: black;
  background-color: #b6a5e1;


  padding: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 100;

  .buy-me-block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    .buy-me-block-text{
      font-weight: 700;margin-bottom: 0px;
    }
  }
}
.code-wrapper{
  background: #e9e0ff;
            padding: 2rem;
            
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.4em;
            
            line-height: 1.7rem;
            .code-wrapper-block{
              overflow: auto;max-width: 42em;max-height: 42em;
            }
}