<!-- <p>about works!</p> -->
<div class="home-wrapper">
    <div class="home-title">
        <h1 class="title">About Vishal Panchidi</h1>
        <div style="display: flex;justify-content: center;    margin-top: 2rem;">
            <p class="sub-title"></p>
        </div>
    </div>
</div>


<div class="footer-profile" style="justify-content: center;">
    <div class="custom-image">
      <img src="../../../../assets/home-assets/profile.jpg" alt="Example JPEG image" class="small-circle-image">
    </div>
    <div class="custom-message">
      <p>
        I'm a versatile full-stack developer experienced in frontend (HTML, CSS, JavaScript, Angular, React) and backend
        (Node.js, Python, Express, Django) technologies. Proficient in Git, Docker, and AWS, I create efficient full-stack
        solutions for modern web applications.
      </p>

      
    </div>
    
  </div>
  <div style="display: flex;justify-content: center;" >
    <p  class="details">
        I work to make a better web; one that is fast, easy to use, beautiful, accessible to all, and frustration-free. Regardless of your specific business requirements, in solving these challenges, you have a great chance of finding success online.
    </p>
  </div>

  <div style="display: flex;justify-content: center;" >
    <p  class="details">
        I work to make a better web; one that is fast, easy to use, beautiful, accessible to all, and frustration-free. Regardless of your specific business requirements, in solving these challenges, you have a great chance of finding success online.
    </p>
  </div>

  <div style="display: flex;justify-content: center;" >
    <p  class="details">
        I work to make a better web; one that is fast, easy to use, beautiful, accessible to all, and frustration-free. Regardless of your specific business requirements, in solving these challenges, you have a great chance of finding success online.
    </p>
  </div>

  <div style="display: flex;justify-content: center;" >
    <p  class="details">
        I work to make a better web; one that is fast, easy to use, beautiful, accessible to all, and frustration-free. Regardless of your specific business requirements, in solving these challenges, you have a great chance of finding success online.
    </p>
  </div>

  <div style="display: flex;justify-content: center;" >
    <p  class="details">
        I work to make a better web; one that is fast, easy to use, beautiful, accessible to all, and frustration-free. Regardless of your specific business requirements, in solving these challenges, you have a great chance of finding success online.
    </p>
  </div>