.example-card {
    max-width: 27em;
    margin-right: 1rem;
    margin-left: 1em;
    box-shadow: none;
    background-color: #e9e0ff;
}
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.home-title{
    text-align: center;
   .positionDetailsAdjustment{
    display: flex;justify-content: center;margin-top: 2rem;
   }
    .title{
        // font-size:tesclamp(1.8em,calc(1em + 2.4vw),3em) !important;
        font-size: 4em;
        
    color: #673ab7;
    font-weight: bolder;
    }
    .sub-title{
        font-size: 2em;
        max-width: 32em;
        line-height: 2rem;
    }
    
}
.home-wrapper{
    padding-top: 6em;
    padding-bottom: 4em;
    background-color: #efe8fc;
}
.primaryRolesAdjustment{
    display: flex; justify-content: center; margin-top: 3em;
    .primaryRolesImagesAdjustment{
        display: flex; padding: 1.5em 1rem;justify-content: center;
        img{
             max-width: 12rem;;
        }
    }
}
.titleAndDescriptionBlock{
    text-align: center;
    h3{
    font-weight: bolder; font-size: 1.4rem;
    }
    p{
        font-size: 1.3em;
        line-height: 1.3em;font-weight: 100;
    }
}